<div class="form-symfony">
    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.race) }}
        {{ form_row(form.age) }}
        <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
</div>