{% extends 'base.html.twig' %}

{% block title %}Modifier Chien{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}
{% block body %}

<nav>
<div class="nav-container">
  <img src="{{ asset('images/logo-canispro.png') }}" width="170px">
 {% if app.user %}
    {# L'utilisateur est connecté, on affiche le bouton de déconnexion #}
    <a href="{{ path('app_logout') }}">Déconnexion</a>
{% else %}
    {# L'utilisateur n'est pas connecté, on affiche le bouton de connexion #}
    <a href="{{ path('app_login') }}">Connexion</a>
    
    {# Tu peux aussi ajouter le bouton d'inscription ici si tu en as un #}
    <a href="{{ path('app_register') }}">S'inscrire</a> 
{% endif %}
</div>
</nav>

<div class="page-nav">
  <a class="page-nav-link" href="{{ path('app_home') }}">Accueil</a>
  <a class="page-nav-link" href="{{ path('app_cours_index') }}">Cours</a>
  <a class="page-nav-link" href="{{ path('app_chien_dashboard') }}">Dashboard</a>
  <a class="page-nav-link active" href="{{ path('app_chien_liste') }}">Liste des chiens</a>
  <a class="page-nav-link" href="{{ path('app_proprietaire_index') }}">Liste des propriétaires</a>
</div>
<div class="admin-container">
    <h1> Modifier Chien</h1>

    {{ include('chien/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

       <a href="{{ path('app_chien_liste') }}" class="btn btn-ghost btn-sm">← Retour</a>

</div>


    <footer>
    <strong>CanisPro</strong> — Maquette Symfony · Espace Propriétaire · 2026
</footer>
{% endblock %}
