{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block title %}Administration Chien{% endblock %}

{% block body %}

<nav>
  <img src="{{ asset('images/logo-canispro.png') }}" width="170px">
  <div class="nav-links">
    <a href="#cours">Cours</a>
    <a href="{{ path('app_chien_dashboard') }}">Dashboard</a>
    <a href="#profil" class="nav-cta">S'inscrire</a>
    <a href="#" class="nav-cta">Connexion</a>
  </div>
</nav>

<div class="page-nav">
  <a class="page-nav-link" href="{{ path('app_home') }}">Accueil</a>
  <a class="page-nav-link" href="{{ path('app_cours') }}">Cours</a>
  <a class="page-nav-link" href="{{ path('app_chien_dashboard') }}">Dashboard</a>
  <a class="page-nav-link" href="{{path('app_chien_liste')}}">Liste des chiens</a>
</div>
<div class="admin-container">
    <div class="admin-header">
        <h1>Gestion</h1>
        <a href="{{ path('app_chien_liste') }}" class="btn-add">
            + Ajouter un produit
        </a>
    </div>

    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Race</th>
                    <th>Age</th>
                    <th>Propriétaire</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for chien in chiens %}
                    <tr>
                        <td class="td-nom">{{ chien.nom }}</td>
                        <td class="td-race">{{ chien.race|slice(0, 60) }}...</td>
                        <td class="age-text">{{ chien.age }} ans</td>
                        <td class="td-proprietaire"></td>
                        <td class="td-actions"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<footer>
  <strong>CanisPro</strong> — Maquette Symfony · Espace Propriétaire · 2026
</footer>
{% endblock %}