{% extends 'base.html.twig' %}
<nav>
<div class="nav-container">
  <img src="{{ asset('images/logo-canispro.png') }}" width="170px">
 {% if app.user %}
    {# L'utilisateur est connecté, on affiche le bouton de déconnexion #}
    <a href="{{ path('app_logout') }}">Déconnexion</a>
{% else %}
    {# L'utilisateur n'est pas connecté, on affiche le bouton de connexion #}
    <a href="{{ path('app_login') }}">Connexion</a>
    
    {# Tu peux aussi ajouter le bouton d'inscription ici si tu en as un #}
    <a href="{{ path('app_register') }}">S'inscrire</a> 
{% endif %}
</div>
</nav>
{% block title %}Chien{% endblock %}

{% block body %}
    <h1>Chien</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chien.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ chien.nom }}</td>
            </tr>
            <tr>
                <th>Race</th>
                <td>{{ chien.race }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ chien.age }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_chien_index') }}">back to list</a>

    <a href="{{ path('app_chien_edit', {'id': chien.id}) }}">edit</a>

    {{ include('chien/_delete_form.html.twig') }}
{% endblock %}
