<nav>
<div class="nav-container">
  <img src="{{ asset('images/logo-canispro.png') }}" width="170px">
 {% if app.user %}
    {# L'utilisateur est connecté, on affiche le bouton de déconnexion #}
    <a href="{{ path('app_logout') }}">Déconnexion</a>
{% else %}
    {# L'utilisateur n'est pas connecté, on affiche le bouton de connexion #}
    <a href="{{ path('app_login') }}">Connexion</a>
    
    {# Tu peux aussi ajouter le bouton d'inscription ici si tu en as un #}
    <a href="{{ path('app_register') }}">S'inscrire</a> 
{% endif %}
</div>
</nav>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
