{% extends 'base.html.twig' %}

{% block title %}Inscription index{% endblock %}

{% block body %}
    <h1>Inscription index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>DateInscrit</th>
                <th>Cours</th>       
                <th>Chien</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inscription in inscriptions %}
            <tr>
                <td>{{ inscription.dateInscrit ? inscription.dateInscrit|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ inscription.cours ? inscription.cours.libelle : '' }}</td>
                <td>{{ inscription.chien ? inscription.chien.nom : '' }}</td>
                <td>{{ inscription.chien ? inscription.chien.proprietaire.prenom ~ ' ' ~ inscription.chien.proprietaire.nom : '' }}</td>
                <td>
                    <a href="{{ path('app_inscription_show', {'id': inscription.id}) }}">show</a>
                    <a href="{{ path('app_inscription_edit', {'id': inscription.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_inscription_new') }}">Create new</a>
{% endblock %}
