{% extends 'base.html.twig' %}

{% block title %}Modifier Proprietaire{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block body %}

<div class="page-nav">
  <a class="page-nav-link" href="{{ path('app_home') }}">Accueil</a>
  <a class="page-nav-link" href="{{ path('app_cours_index') }}">Cours</a>
  <a class="page-nav-link" href="{{ path('app_chien_dashboard') }}">Dashboard</a>
  <a class="page-nav-link active" href="{{ path('app_chien_liste') }}">Liste des chiens</a>
  <a class="page-nav-link" href="{{ path('app_proprietaire_index') }}">Liste des propriétaires</a>
</div>
<div class="admin-container">
    <h1>Modifier Proprietaire</h1>

    {{ include('proprietaire/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_proprietaire_index') }}" class="btn btn-ghost btn-sm">← Retour</a>
</div>
{% endblock %}
