{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
    <h1>Cours index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Niveau</th>
                <th>Descriptions</th>
                <th>Prix</th>
                <th>DateHeure</th>
                <th>NbChien</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td>{{ cour.libelle }}</td>
                <td>{{ cour.niveau }}</td>
                <td>{{ cour.descriptions }}</td>
                <td>{{ cour.prix }}</td>
                <td>{{ cour.dateHeure ? cour.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cour.nbChien }}</td>
                <td>
                    <a href="{{ path('app_cours_index_show', {'id': cour.id}) }}">show</a>
                    <a href="{{ path('app_cours_index_edit', {'id': cour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cours_index_new') }}">Create new</a>
{% endblock %}
