{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
<nav>
<div class="nav-container">
  <img src="{{ asset('images/logo-canispro.png') }}" width="170px">
 {% if app.user %}
    {# L'utilisateur est connecté, on affiche le bouton de déconnexion #}
    <a href="{{ path('app_logout') }}">Déconnexion</a>
{% else %}
    {# L'utilisateur n'est pas connecté, on affiche le bouton de connexion #}
    <a href="{{ path('app_login') }}">Connexion</a>
    
    {# Tu peux aussi ajouter le bouton d'inscription ici si tu en as un #}
    <a href="{{ path('app_register') }}">S'inscrire</a> 
{% endif %}
</div>
</nav>
    <h1>Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ cour.libelle }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ cour.niveau }}</td>
            </tr>
            <tr>
                <th>Descriptions</th>
                <td>{{ cour.descriptions }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ cour.prix }}</td>
            </tr>
            <tr>
                <th>DateHeure</th>
                <td>{{ cour.dateHeure ? cour.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NbChien</th>
                <td>{{ cour.nbChien }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cours_index') }}">back to list</a>

    <a href="{{ path('app_cours_index_edit', {'id': cour.id}) }}">edit</a>

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
